<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a href="#" class="navbar-brand">
      <i class="fas fa-dumbbell"></i>
      <span class="brand-name">Mr. Trainer</span>
    </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
      <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <!-- Links Go Here -->
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
      </ul>
    </div>
    
  </div>
  
</nav>