<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a href="#" class="navbar-brand navbar-expand-lg">
      <i class="fas fa-dumbbell"></i>
      <span class="brand-name">Mr. Trainer</span>
    </a>

    <!-- Links Go Here -->
    <div class="collapse navbar-collapse mr-auto" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let link of navLinks">
          <a [routerLink]="link.path" class="nav-link"> {{ link.text }}</a>
        </li>
      </ul>
    </div>
    
    <!-- User Actions -->
    <div class="user-actions ml-auto">
      <!-- Quick Start a Workout -->
      <button class="btn btn-warning">Start a Workout</button>
      
      <!-- Notifications -->
      <a href="#" class="user-action-links">
        <i class="fas fa-bell"></i>
      </a>

      <!-- Profile -->
      <div class="dropdown">
        <a href="#" 
        class="user-action-links" 
        id="profileDropdown" 
        role="button" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="dropdown-item" routerLink="profile">Profile</a>
          <a class="dropdown-item" href="#" (click)="auth.signOut()">Logout</a>
        </div>
      </div>
    </div>

    <!-- Toggler -->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarLinks">
      <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
  </div>
  
</nav>