<div class="container-fluid" *ngIf="trainingDay$ | async as day">
  <div class="exercises row">
    <div class="col-12">
      <div class="container-fluid">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" *ngFor="let exercise of exercises$ | async">
          <h4>{{ exercise.displayName }}</h4>
          <p>{{ exercise.totalSets }} x {{ exercise.totalReps }}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled"></a>
      </div>
      <button class="btn btn-success" (click)="addExercise()">Add an Exercise</button>
      </div>
    </div>
  </div>
</div>
