<div class="container-fluid" *ngIf="exercise$ | async as exercise">

<h4>{{ exercise.displayName }}</h4>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Set</th>
      <th scope="col">Reps</th>
      <th scope="col">Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rep of repCounter(exercise.totalReps); let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ exercise.totalReps }}</td>
      <td>15 lbs</td>
    </tr>
  </tbody>
</table>
</div>