<div class="container-fluid">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <h4>Bench Press</h4>
    <p>5 x 5</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <h4>Squat</h4>
    <p>5 x 5</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <h4>Overhead Press</h4>
    <p>5 x 5</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled"></a>
</div>
<button class="btn btn-success">Add an Exercise</button>
</div>
<!--<div class="card">
  <div class="card-header">
    {{ day.displayName }}
  </div>
  <ul class="list-group list-group-flush">

  <li class="list-group-item">
    <h4>Bench Press</h4>
    <p>5 x 5</p>
  </li>

  <li class="list-group-item">
    <h4>Squat</h4>
    <p>5 x 5</p>
  </li>

  <li class="list-group-item">
    <h4>Squat</h4>
    <p>5 x 5</p>
  </li>
  <li class="list-group-item">
    <button class="btn btn-success">Add an Exercise</button>
  </li>
  </ul>  
</div> -->